
## xcode specific
build/
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

## ignore private workspace stuff added by Xcode4
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## my
tmp/*
libs/*
samba/*
plan

## this project only
*.json
*.dSYM.zip
iOSInjectionProject/*

#CocoaPod
Pods/*
